modules:
  default:
    enable::
      - lmod
    roots:
      lmod: $env/modules
    lmod:
      hash_length: 0
      hierarchy:: [] # Disable using mpi hierarchy
      core_compilers: [gcc,cce] # Disable using compiler hierarchy
      hide_implicits: true
      all:
        autoload: run
      projections:
        all: '{name}/{version}-{compiler.name}'
      exclude:
        - netcdf-c
        - netcdf-fortran
        - netcdf-cxx4
        - parallel-netcdf
        - cray-mpich
        - hdf5
        - libfabric
        - cray-fftw
        - cray-libsci
    arch_folder: false
  
  prefix_inspections:
    ./lib:
      - LD_LIBRARY_PATH
      - LIBRARY_PATH
    ./lib64:
      - LD_LIBRARY_PATH
      - LIBRARY_PATH
    ./include:
      - CPATH